body {
      background-color: #FFFFFF;
      padding: 0px;
      font-family: EB Garamond, sans-serif;
      color: #000000;
      font-size: 1.2rem;
      
    }
    img {
      width: 50em;
      max-width: 95%;
      height: auto;
      margin: 0;
    }
    ul {
      list-style-type: disc;
    }
    a {
      color: #0000FF;
      text-decoration:none;
    }
    h1 {
      text-align: center;
      font-style: italic;
      font-variant-caps: small-caps;
    }
    div {
      padding: 10px;
      width: 60rem;
      max-width: 95%;
      text-align: justify;
    }
