head {
      color:rgb(255, 255, 255)
    }

body {
      background-color: #FFFFFF;
      padding: 50px;
      font-family: EB Garamond, sans-serif;
      font-weight: 100;
      
    }
    img {
      max-width: 700px;
      height: auto;x
      margin: 0px 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin: 0px 0;
    }
    a {
      color: #0000FF;
      font-size: 1em;
      font-family: "EB Garamond", sans-serif;
      text-decoration:none;
      padding: 0px;
      max-width: 1000px;
      text-align: justify;
    }
    h1 {
      text-align: center;
      font-family: "EB Garamond", sans-serif;
      color: #000000;
      font-style: italic;
      font-variant-caps: small-caps;
    }
    h2 {
      max-width: 1000px;
      color: #000000;
      font-weight: bold;
        
    }
    h3 {
      max-width: 1000px;
        color: #000000;
        font-weight: bold;
    }
    div {
        color: #000000;
        text-decoration:none;
        font-family: "EB Garamond", sans-serif;
        padding: 10px;
        max-width: 1000px;
        text-align: justify;
        font-size: 1.5em;
    }
    
