body {
      background-color: #FFFFFF;
      padding: 0px;
      font-family: EB Garamond, sans-serif;
      color: #000000;
      
    }
    img {
      width: 50em;
      max-width: 95%;
      height: auto;
      margin: 0;
    }
    ul {
      list-style-type: disc;
    }
    a {
      color: #0000FF;
      font-size: 1em;
      text-decoration:none;
    }
    h1 {
      text-align: center;
      font-style: italic;
      font-variant-caps: small-caps;
    }
    div {
      color: #000000;
      text-decoration:none;
      padding: 10px;
      width: 50rem;
      max-width: 95%;
      text-align: justify;
      font-size: 1em;
    }
