head {
      color:rgb(255, 255, 255)
    }

body {
      background-color: #1F1E1D;
      padding: 50px;
      font-family: monospace;
      
    }
    img {
      max-width: 300px;
      height: auto;x
      margin: 0px 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin: 10px 0;
    }
    a {
      color: #E3E1D9;
      font-size: 1.2em;
    }
    h1 {
        text-align: center;
        color: #E3E1D9;
    }
    h2 {
        color: #E3E1D9;
    }
    div {
        color: #E3E1D9;
        padding: 10px;
        max-width: 1000px;
        text-align: justify;
    }
    