head {
      color:rgb(255, 255, 255)
    }

body {
      background-color: rgb(0, 0, 0);
      font-family: Garamond, serif;
      padding: 50px;
    }
    img {
      max-width: 300px;
      height: auto;x
      margin: 20px 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin: 10px 0;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.2em;
    }
    h1 {
        color: #ffffff;
    }