<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
</script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta charset="UTF-8">
    <title>TOPAULOGY</title>
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
    <link rel="stylesheet" href="style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <center><h1><a href="https://topaulogy.xyz/" style="color: #000000 !important; text-decoration: none !important; font-size: 1.2em; font-weight:bold;">Topaulogy</a></h1></center>

    <center><div>{{ content }}</div></center>

  </body>
</html>
